<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Lumina Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/screen.css">
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
    <div class="my_container">
        <div class="row">
            <div class="col-3" >
                <img src="/images/pos.svg" alt="svg"  class="title_logo">

            </div>
            <div class="col-9">

            </div>
        </div>
        <!-- Sidebar -->
         <div class="row">
        <div class="sidebar col-1 text-center">
            <div class="mt-4 ps-2">
                <img src="/images/home.svg" alt="svg" class="sidebar_logo">
            </div>
            <div class="mt-4 ps-2">
                <img src="/images/menu.svg" alt="svg" class="sidebar_logo">
            </div>
            <div class="mt-4 ps-2">
                <img src="/images/payment.svg" alt="svg" class="sidebar_logo">
            </div>
            <div class="mt-5 ps-2">
                <button class="logout_btn btn" >Logout</button>
            </div>
           
        </div>

        <!-- Content -->
        <div class="content col-7">
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>
        </div>

        
        <div class="col-3">
            <h1>R-area</h1>
        </div>
    </div>
    </div>
</body>

</html>
