<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Lumina Shop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/screen.css">
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar col-2">
            <h1 class="mt-3 text-center">SideBar</h1>
            <!-- <ul class="mt-5">
                <li onclick="location.href='/home'">Home <img src="image/chevron-right.svg" alt="svg" class="chevron-right"></li>
                <hr>
                <li onclick="location.href='/menu'">Menu <img src="image/chevron-right.svg" alt="svg" class="chevron-right"></li>
                <hr>
                <li onclick="location.href='/payment'">Payment <img src="image/chevron-right.svg" alt="svg" class="chevron-right"></li>
                <hr>
                <li onclick="location.href='/order'">Order <img src="image/chevron-right.svg" alt="svg" class="chevron-right"></li>
                <hr>
            </ul>
            <button class="btn btn-danger justify-content-center col-11 mx-2 mt-5" onclick="location.href='/logout'">Logout</button> -->
        </div>

        <!-- Content -->
        <div class="content col-7">
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>
        </div>

        <!-- Right area
        <div class="col-3">
            <h1>R-area</h1>
        </div> -->
    </div>
</body>

</html>
