<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pagetitle">Lumina Restaurant</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Alternative Bootstrap CSS CDN -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"> -->
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- jQuery (Use only one version) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Local fallback for jQuery -->
    <!-- <script src="/path/to/local/jquery-3.6.4.min.js"></script> -->
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/screen.css">
    
    <!-- Common JS -->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>


</html>
