@charset "UTF-8";

:root {
  --font-family: "Quicksand, Arial, sans-serif";
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #4a5c2f;
  --light-orange: #e8c5a3;
  --light-blue: #b1ced4;
  --orange-color: #ec5a5a;
  --red-color: #f4152b;
  --blue-color: #2d0aee;
  --salmon-color: #d89f65;
  --salmon-green:#B1CED4;

  --size-1: 1px;
  --size-2: 2px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-23: 23px;
  --size-45: 45px;
  --size-80: 80px;
  --size-150: 150px;
  --size-300: 300px;

  --font-weight: 700;
}

body {
  font-family: var(--font-family) !important;
  background-color: var(--white-color) !important;
}

.form-container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-header {
  margin-bottom: 30px;
}

.require {
  padding: var(--size-2) !important;
  margin-right: var(--size-2) !important;
  font-size: var(--size-14) !important;
  color: var(--red-color) !important;
}

.common_rdo:hover {
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
  cursor: pointer;
}
.common_rdo_check {
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
}

.errorMessage {
  color: var(--red-color) !important;
  font-size: var(--size-12) !important;
  margin-left: var(--size-10) !important;
}

.error {
  border-color: var(--red-color) !important;
}

.nextBtn {
  width: var(--size-300) !important;
}

.logout_btn {
  width: 80px;
  color: #f4152b;
  border-color: #f4152b;
}

.payment_order {
  margin-top: var(--size-20) !important;
  padding: var(--size-10) !important;
  border-bottom: solid var(--size-1) !important;
  border-bottom-color: var(--light-blue) !important;
}

.table_time_value {
  font-weight: var(--font-weight) !important;
  font-size: var(--size-23) !important;
  color: var(--salmon-color) !important;
}

.table-custom th,
.table-custom td {
  padding: var(--size-10);
  border-bottom: solid var(--size-1) var(--border-color);
  font-weight: var(--font-weight);
}
.table-custom th {
  background-color: #f8f9fa; /* Light gray background for table headers */
}
.table-custom td {
  background-color: #ffffff; /* White background for table cells */
}


.sidebar_label{
    color:var(--light-orange) !important;
    cursor: pointer;

}
.title_logo{
    width: var(--size-100) !important;
    cursor: pointer;
    margin-left:var(--size-12) !important ;
}
.sidebar_logo{
    width:40px;
    cursor: pointer;
}
.my_container{
    margin-left: var(--size-20) !important;
    margin-right:var(--size-20) !important;
    font-family: var(--font-family) !important;
    background-color: var(--white-color) !important;
}
.searchItem{
    background-color: var(--light-blue) !important;
    position: absolute;
}
.main_title_time{
    font-size: var(--size-14) !important;
    margin-top: 30px;
    font-weight: 700;
    padding-left: 30px;
}
.addBtn{
    width:140px;
    height: 40px;
    background-color: var(--salmon-green) !important;
    margin-top: 20px;
}
.search_logo{
    position: relative;
    cursor: pointer;
    left: 99%;
    top:30%;
}
.logo_title{
    border-bottom:var(--salmon-green) solid;
}