<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/singleLayout}">
<head>
    <meta charset="UTF-8">
    <script>
        document.getElementById('pagetitle').innerText="Error";

    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header bg-danger text-white">
                        <h1 class="text-center">Error</h1>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Something went wrong</h3>
                        <p class="text-center">An unexpected error occurred. Please try again later.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-primary">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
