<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Registration Form</title>
  </head>
  <body>
    <h2>Registration Form</h2>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
      <p>Username: <input type="text" /></p>
      <p>Password: <input type="password" /></p>
      <p>Email: <input type="email" /></p>
      <p>Full Name: <input type="text" /></p>
      <p>
        <input type="submit" value="Register" />
        <input type="reset" value="Reset" />
      </p>
    </form>
  </body>
</html>
