
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Orders</title>
</head>

<body>
    <div layout:fragment="content">
        
        <header>
            <h1>Welcome to Orders</h1>
        </header>
        <section>
            <p>This is a simple orders page created with Spring Boot.</p>
        </section>
    </div>
</body>

</html>
